<a href="https://colab.research.google.com/github/tejalyadav/Data_Analytics_Experiments/blob/main/expt2_DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Resulting inference :
#importing libraries such as pandas for data manipulation and analysis,
#importing numpy for arrays and matrices and importing pyplot from matplotlib package to built graphs
#pandas is renamed as pd and numpy is renamed as np

# New Section

In [ ]:
dataset=pd.read_csv('/content/drive/MyDrive/WHO-COVID-19-global-data.csv')

#Resulting inference :
#Loading the dataset
#Daily cases and deaths by date reported to WHO

In [ ]:
dataset.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [ ]:
dataset['New_deaths'].mean()

31.76067597323007

In [ ]:
dataset.shape

(184386, 8)

In [ ]:
dataset.tail()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
184381,2022-02-14,ZW,Zimbabwe,AFRO,82,231381,0,5374
184382,2022-02-15,ZW,Zimbabwe,AFRO,222,231603,0,5374
184383,2022-02-16,ZW,Zimbabwe,AFRO,260,231863,4,5378
184384,2022-02-17,ZW,Zimbabwe,AFRO,350,232213,1,5379
184385,2022-02-18,ZW,Zimbabwe,AFRO,0,232213,0,5379

In [ ]:
dataset['New_cases'].median()

21.0

In [ ]:
dataset['New_cases'].mean()

2270.5111776382155

In [ ]:
dataset['Cumulative_deaths'].mean()

10432.26110984565

In [ ]:
dataset['New_cases'].quantile([.25,.5,.75])

0.25      0.0
0.50     21.0
0.75    488.0
Name: New_cases, dtype: float64

In [ ]:
dataset['New_deaths'].std()

166.0171998440249

In [ ]:
dataset['New_cases'].mode()

0    0
dtype: int64

In [ ]:
dataset['New_deaths'].sum()

5856224

In [ ]:
df1 = pd.DataFrame(dataset, 
                   columns = ['New_deaths',
                             'Country'])
df1['percent'] = (df1['New_deaths'] / df1['New_deaths'].sum()) * 100
df1

        New_deaths      Country   percent
0                0  Afghanistan  0.000000
1                0  Afghanistan  0.000000
2                0  Afghanistan  0.000000
3                0  Afghanistan  0.000000
4                0  Afghanistan  0.000000
...            ...          ...       ...
184381           0     Zimbabwe  0.000000
184382           0     Zimbabwe  0.000000
184383           4     Zimbabwe  0.000068
184384           1     Zimbabwe  0.000017
184385           0     Zimbabwe  0.000000

[184386 rows x 3 columns]

In [ ]:
dataset['New_cases'].min()

-32952

In [ ]:
dataset['New_deaths'].max()

8786

In [ ]:
dataset['New_cases'].var()

246250572.57410187

In [ ]:
dataset['New_deaths'].skew()

13.020646552494552

In [ ]:
dataset['New_deaths'].mean()

31.76067597323007

In [ ]:
#Null hypothesis = New_deaths mean is 31.76
#Alternate hypothesis= New_deaths mean is not equal to 31.76

from scipy import stats
New_case_Pvalue=stats.normaltest(dataset.New_cases).pvalue
Cumulative_cases_Pvalue=stats.normaltest(dataset.Cumulative_cases).pvalue
New_deaths_Pvalue=stats.normaltest(dataset.New_deaths).pvalue
Cumulative_deaths_Pvalue=stats.normaltest(dataset.Cumulative_deaths).pvalue

#print("New_case P value")
print(str(New_case_Pvalue))
print("Cumulative_case P value")
print(Cumulative_cases_Pvalue)
print("New_deaths P value")
print(New_deaths_Pvalue)
print("Cumulative_deaths P value")
print(Cumulative_deaths_Pvalue)

0.0
Cumulative_case P value
0.0
New_deaths P value
0.0
Cumulative_deaths P value
0.0

In [ ]:
from scipy.stats import ttest_1samp
import numpy as np
New_deaths = np.genfromtxt(dataset)
print(New_deaths)
New_deaths_mean = np.mean(New_deaths)
print(New_deaths_mean)
tset, pval = ttest_1samp(New_deaths, 3000)
print("p-values",pval)
if pval < 0.05:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

[nan nan nan nan nan nan nan nan]
nan
p-values nan
we are accepting null hypothesis